* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(128, 128, 128, 0.316);
}
.header-ul {
  animation: moveInContact 2s;
  display: flex;
  gap: 20px;
}
.header-ul li {
  font-size: calc(10px + 0.5vw);
}
.header-ul .last-li {
  font-size: calc(15px + 0.5vw);
}
.header-img {
  width: 350px;
  animation: moveInCort 10s infinite;
}

@keyframes moveInCort {
  0% {
    transform: translateX(-200%);
  }
  20% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes moveInContact {
  0% {
    transform: rotate(90deg);
    transform-origin: top right;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: top right;
  }
}
.main-nav {
  background-color: white;
  transform: translateX(-100%);
  animation: moveIn 3s forwards;
  animation-delay: 2s;
}
.main-nav ul {
  padding: 0px 10%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 0.3vw);
  animation: spacing 3s ease-in-out;
  animation-delay: 2s;
}
.main-nav ul a {
  color: black;
}
.main-nav-li {
  display: block;
  font-size: calc(10px + 0.1vw);
  padding-top: 10px;
  background-color: #69b400;
  height: 50px;
  width: 60px;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 191);
  border: 1px solid rgba(255, 255, 0, 0.372);
  transition: 1s ease-in-out;
}
.main-nav-li i {
  font-size: calc(24px + 0.5vw);
}
.main-offer {
  padding: 20px 10%;
  background-color: #efefef;
  border-top: 1px solid rgba(128, 128, 128, 0.316);
}
.main-offer h4 {
  color: rgb(92, 90, 90);
}
.main-offer h4 span {
  color: #69b400;
}
.main-offer-gallery {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.316);
  display: flex;
  gap: 20px;
}
.main-offer button {
  margin-top: 15px;
  background-color: #69b400;
  border: 1px solid rgba(255, 255, 0, 0.372);
  padding: 12px 15px;
  font-size: calc(14px + 0.3vw);
  color: rgb(255, 255, 191);
}
.main-offer button:hover {
  animation: pading 0.3s ease-in-out;
}

@keyframes moveIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes pading {
  50% {
    padding: 0px 3%;
  }
  100% {
    padding: 0px 1%;
  }
}
@keyframes spacing {
  0% {
    justify-content: center;
  }
  70% {
    justify-content: center;
  }
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0px 10%;
  background-color: #efefef;
}
.gallery img {
  transition: 0.2s ease-in-out;
  width: 100%;
}
.gallery img:hover {
  box-shadow: -5px -5px rgba(107, 147, 154, 0.492);
  transform: skew(-2deg) scaleY(0.95);
}
.gallery-card {
  background-color: white;
  width: 100%;
  justify-items: center;
  flex-wrap: wrap;
}
.gallery-card-noImgBox {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.gallery-card-noImgBox h2 {
  font-size: calc(15px + 1vw);
  margin-bottom: 10px;
}
.gallery-card-noImgBox h2:hover {
  transform: skew(-10deg) scaleY(0.95);
}
.gallery-card-noImgBox p {
  letter-spacing: 1px;
  color: rgb(64, 63, 63);
}
.gallery-card-price {
  display: flex;
  justify-content: space-between;
  color: #69b400;
  align-items: flex-end;
  margin-top: 65px;
}
.gallery-card-price-box h4 {
  color: rgb(174, 171, 171);
}
.gallery-card-price-box h3 {
  font-size: 40px;
}
.gallery-card-price button {
  background-color: transparent;
  margin: 10px 0px;
  padding: calc(4px + 1%) calc(10px + 2%);
  color: #69b400;
  border-color: #69b400;
}

.offers {
  padding: 70px 10%;
  background-color: #efefef;
  border-bottom: 1px solid rgba(128, 128, 128, 0.316);
}
.offers-text {
  padding: 20px;
  background-color: white;
  margin-bottom: 30px;
}
.offers-text h4 {
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(56, 54, 54);
}
.offers-text p {
  margin-bottom: 15px;
  font-size: 20px;
  text-indent: 10px;
  color: rgb(83, 81, 67);
}

.icons {
  background-color: #efefef;
}
.icons-ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 10%;
}
.icons-ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-left: 3px solid rgba(128, 128, 128, 0.316);
  width: 170px;
}
.icons-ul li i {
  font-size: calc(10px + 2vw);
  color: #69b400;
  margin-bottom: 20px;
}
.icons-ul li h4 {
  font-size: calc(10px + 0.3vw);
}

.info {
  padding: 70px 10%;
  background-color: #efefef;
}
.info-img {
  display: flex;
  justify-content: space-between;
}
.info-link {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.info-link-lines {
  border-top: 3px solid rgba(128, 128, 128, 0.316);
  width: 130px;
  margin-top: 20px;
}
.info-link-parts {
  text-align: center;
}
.info-link-parts h3 {
  color: #69b400;
  font-size: calc(18px + 1vw);
}
.info-link-parts ul {
  line-height: 40px;
}
.info-link-parts ul li {
  font-size: calc(10px + 0.5vw);
}
.info .last-ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}/*# sourceMappingURL=main.css.map */